@font-face {
    font-family: 'vizIcons';
    src:    url('fonts/vizIcons.eot?s4krea');
    src:    url('fonts/vizIcons.eot?s4krea#iefix') format('embedded-opentype'),
        url('fonts/vizIcons.ttf?s4krea') format('truetype'),
        url('fonts/vizIcons.woff?s4krea') format('woff'),
        url('fonts/vizIcons.svg?s4krea#vizIcons') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="viz-icon-"], [class*=" viz-icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'vizIcons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.viz-icon-donut-1:before {
    content: "\e90f";
}
.viz-icon-donut-22:before {
    content: "\e911";
}
.viz-icon-pie-1:before {
    content: "\e912";
}
.viz-icon-donut-2:before {
    content: "\e910";
}
.viz-icon-strip-bar:before {
    content: "\e90e";
}
.viz-icon-charity:before {
    content: "\e909";
}
.viz-icon-crosstable-1:before {
    content: "\e90a";
}
.viz-icon-crosstable-2:before {
    content: "\e90b";
}
.viz-icon-dataset-12:before {
    content: "\e90c";
}
.viz-icon-dataset-22:before {
    content: "\e90d";
}
.viz-icon-info-circle:before {
    content: "\e908";
}
.viz-icon-alert:before {
    content: "\e907";
}
.viz-icon-eye:before {
    content: "\e900";
}
.viz-icon-plus:before {
    content: "\e901";
}
.viz-icon-close:before {
    content: "\e902";
}
.viz-icon-ellipsis-h:before {
    content: "\e903";
}
.viz-icon-ellipsis-v:before {
    content: "\e904";
}
.viz-icon-search:before {
    content: "\e905";
}
.viz-icon-share:before {
    content: "\e906";
}
.viz-icon-route:before {
    content: "\e66b";
}
.viz-icon-heat:before {
    content: "\e668";
}
.viz-icon-marker:before {
    content: "\e669";
}
.viz-icon-hexagon:before {
    content: "\e66a";
}
.viz-icon-dataset:before {
    content: "\e665";
}
.viz-icon-presentation:before {
    content: "\e667";
}
.viz-icon-number:before {
    content: "\e664";
}
.viz-icon-logo:before {
    content: "\e663";
}
.viz-icon-treemap-alt:before {
    content: "\e600";
}
.viz-icon-treemap:before {
    content: "\e601";
}
.viz-icon-streamgraph-top:before {
    content: "\e602";
}
.viz-icon-streamgraph-medium:before {
    content: "\e603";
}
.viz-icon-streamgraph-low:before {
    content: "\e604";
}
.viz-icon-scatter-multiples-alt:before {
    content: "\e605";
}
.viz-icon-scatter-group-alt:before {
    content: "\e607";
}
.viz-icon-scatter-group:before {
    content: "\e608";
}
.viz-icon-scatter:before {
    content: "\e60a";
}
.viz-icon-radar-alt:before {
    content: "\e60b";
}
.viz-icon-radar:before {
    content: "\e60c";
}
.viz-icon-pyramid-alt:before {
    content: "\e60d";
}
.viz-icon-pyramid:before {
    content: "\e60e";
}
.viz-icon-pareto-alt:before {
    content: "\e60f";
}
.viz-icon-pareto:before {
    content: "\e610";
}
.viz-icon-open-high-low-close:before {
    content: "\e611";
}
.viz-icon-map:before {
    content: "\e612";
}
.viz-icon-line-multiples-alt:before {
    content: "\e613";
}
.viz-icon-line-multiples:before {
    content: "\e614";
}
.viz-icon-line-group-alt:before {
    content: "\e615";
}
.viz-icon-line-group:before {
    content: "\e616";
}
.viz-icon-line-color-alt:before {
    content: "\e617";
}
.viz-icon-line-color:before {
    content: "\e618";
}
.viz-icon-line:before {
    content: "\e619";
}
.viz-icon-kagi-alt:before {
    content: "\e61a";
}
.viz-icon-kagi:before {
    content: "\e61b";
}
.viz-icon-heatmap-medium:before {
    content: "\e61c";
}
.viz-icon-heatmap-low:before {
    content: "\e61d";
}
.viz-icon-heatmap-high:before {
    content: "\e61e";
}
.viz-icon-funnel-3:before {
    content: "\e61f";
}
.viz-icon-funnel-2:before {
    content: "\e620";
}
.viz-icon-funnel-1:before {
    content: "\e621";
}
.viz-icon-dot:before {
    content: "\e622";
}
.viz-icon-column-multiples-alt:before {
    content: "\e623";
}
.viz-icon-column-multiples:before {
    content: "\e624";
}
.viz-icon-column-group-alt:before {
    content: "\e625";
}
.viz-icon-column-group:before {
    content: "\e626";
}
.viz-icon-column-alt:before {
    content: "\e627";
}
.viz-icon-column:before {
    content: "\e628";
}
.viz-icon-choropleth-alt:before {
    content: "\e629";
}
.viz-icon-candlestick-alt:before {
    content: "\e62a";
}
.viz-icon-candlestick:before {
    content: "\e62b";
}
.viz-icon-bullet-alt:before {
    content: "\e62c";
}
.viz-icon-bullet:before {
    content: "\e62d";
}
.viz-icon-bubble-group-alt:before {
    content: "\e62e";
}
.viz-icon-bubble-group:before {
    content: "\e62f";
}
.viz-icon-bubble:before {
    content: "\e630";
}
.viz-icon-boxplot-width:before {
    content: "\e631";
}
.viz-icon-boxplot:before {
    content: "\e632";
}
.viz-icon-bar-multiples:before {
    content: "\e634";
}
.viz-icon-barline-alt:before {
    content: "\e635";
}
.viz-icon-barline:before {
    content: "\e636";
}
.viz-icon-bar-group-alt:before {
    content: "\e637";
}
.viz-icon-bar-group:before {
    content: "\e638";
}
.viz-icon-bar-alt:before {
    content: "\e639";
}
.viz-icon-bar:before {
    content: "\e63a";
}
.viz-icon-axis-treemap:before {
    content: "\e63b";
}
.viz-icon-axis-top:before {
    content: "\e63c";
}
.viz-icon-axis-right:before {
    content: "\e63d";
}
.viz-icon-axis-radar:before {
    content: "\e63e";
}
.viz-icon-axis-multiples:before {
    content: "\e63f";
}
.viz-icon-axis-middle:before {
    content: "\e640";
}
.viz-icon-axis-left:before {
    content: "\e641";
}
.viz-icon-axis-center:before {
    content: "\e642";
}
.viz-icon-axis-bottom:before {
    content: "\e643";
}
.viz-icon-axis:before {
    content: "\e644";
}
.viz-icon-area-stack-alt:before {
    content: "\e645";
}
.viz-icon-area-stack-100-alt:before {
    content: "\e646";
}
.viz-icon-area-stack-100:before {
    content: "\e647";
}
.viz-icon-area-stack:before {
    content: "\e648";
}
.viz-icon-area:before {
    content: "\e649";
}
.viz-icon-bar-multiples-alt:before {
    content: "\e633";
}
.viz-icon-scatter-multiples:before {
    content: "\e606";
}
.viz-icon-text-2:before {
    content: "\e609";
}
.viz-icon-text-1:before {
    content: "\e64a";
}
.viz-icon-html-2:before {
    content: "\e64b";
}
.viz-icon-html-1:before {
    content: "\e64c";
}
.viz-icon-calendar-2:before {
    content: "\e64d";
}
.viz-icon-calendar-1:before {
    content: "\e64e";
}
.viz-icon-box:before {
    content: "\e64f";
}
.viz-icon-image-2:before {
    content: "\e650";
}
.viz-icon-image-1:before {
    content: "\e651";
}
.viz-icon-slider-3:before {
    content: "\e652";
}
.viz-icon-slider-2:before {
    content: "\e653";
}
.viz-icon-slider-1:before {
    content: "\e654";
}
.viz-icon-search-2:before {
    content: "\e655";
}
.viz-icon-search-1:before {
    content: "\e656";
}
.viz-icon-slice-3:before {
    content: "\e657";
}
.viz-icon-slice-2:before {
    content: "\e658";
}
.viz-icon-slice-1:before {
    content: "\e659";
}
.viz-icon-select-3:before {
    content: "\e65a";
}
.viz-icon-select-2:before {
    content: "\e65b";
}
.viz-icon-select-1:before {
    content: "\e65c";
}
.viz-icon-dataset-1:before {
    content: "\e65e";
}
.viz-icon-dataset-2:before {
    content: "\e65d";
}
.viz-icon-datasets-3:before {
    content: "\e65f";
}
.viz-icon-datasets-2:before {
    content: "\e660";
}
.viz-icon-datasets-1:before {
    content: "\e661";
}
.viz-icon-video:before {
    content: "\e662";
}

