@font-face {
	font-family: 'vizIcons';
	src:url('/fonts/vizIcons.eot?-mpgp4b');
	src:url('/fonts/vizIcons.eot?#iefix-mpgp4b') format('embedded-opentype'),
		url('/fonts/vizIcons.woff?-mpgp4b') format('woff'),
		url('/fonts/vizIcons.ttf?-mpgp4b') format('truetype'),
		url('/fonts/vizIcons.svg?-mpgp4b#vizIcons') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="viz-icon-"].disabled{
  opacity:0.2;
}


.cio-icon{
  display: inline-block;
  font: normal normal normal 16px/1 vizIcons;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cio-icon-eye:before {content: "\e900";}
.cio-icon-plus:before {content: "\e901";}
.cio-icon-close:before {content: "\e902";}
.cio-icon-ellipsis-h:before {content: "\e903";}
.cio-icon-ellipsis-v:before {content: "\e904";}
.cio-icon-search:before {content: "\e905";}
.cio-icon-share:before {content: "\e906";}
.cio-icon-alert:before {content: "\e907";}
.cio-icon-info-circle:before {content: "\e908";}
.cio-icon-charity:before {content: "\e909";}

[class^="viz-icon-"] {
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  position: relative;
  margin: 0px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0px;
  height: 48px;
  width: 48px;
  text-align: left;
  text-indent: -9999px; }

[class^="viz-icon-"]:before,
[class^="viz-icon-"]:after,
[class^="viz-icon-"] span:before,
[class^="viz-icon-"] span:after {
  display: block;
  position: absolute;
  white-space: normal;
  top: 0px;
  left: 7px;
  text-indent: 0;
  font-size: 32px;
  font-family: "vizIcons";
  font-weight: 400 !important;
  font-style: normal !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  speak: none;
}
/*128px*/
.viz-icon-lg{
  height: 192px;
  width: 192px;
  font-size: 128px;
}
/*64px*/
.viz-icon-md{
  height: 96px;
  width: 96px;
  font-size: 64px;
}
/*32px*/
.viz-icon-sm{
  height: 48px;
  width: 48px;
  font-size: 32px;
}

.viz-icon-logo:after {content: "\e663";font-size:18px;}
.viz-icon-logo{
  background: orange;
  height: 32px;
  width: 32px;
  line-height: 32px;
  color: white !important;
}

.viz-icon-logo.inverse:after {content: "\e663";font-size:18px;}
.viz-icon-logo.inverse{
  background: white;
  color: orange !important;
}

.viz-icon-bar:before,
.viz-icon-line:before,
.viz-icon-line-group:before,
.viz-icon-line-color:before,
.viz-icon-scatter:before,
.viz-icon-bar-stack:before,
.viz-icon-bar-group:before,
.viz-icon-column:before,
.viz-icon-column-stack:before,
.viz-icon-column-group:before,
.viz-icon-bubble:before,
.viz-icon-scatter-group:before,
.viz-icon-bubble-group:before,
.viz-icon-boxplot:before,
.viz-icon-boxplot-width:before,
.viz-icon-area:before,
.viz-icon-area-stack:before,
.viz-icon-area-stream:before,
.viz-icon-area-stack-100:before,
.viz-icon-pareto:before,
.viz-icon-barline:before,
.viz-icon-open-high-low-close:before,
.viz-icon-candlestick:before,
.viz-icon-bullet:before,
.viz-icon-kagi:before,
.viz-icon-dot:before,
.viz-icon-scatter-group:before {
  content: "\e644";
  color: #5E5E5E;}
.viz-icon-bar:hover:before,
.viz-icon-line-group:hover:before,
.viz-icon-line-color:hover:before,
.viz-icon-line:hover:before,
.viz-icon-scatter:hover:before,
.viz-icon-bar-stack:hover:before,
.viz-icon-bar-group:hover:before,
.viz-icon-column:hover:before,
.viz-icon-column-stack:hover:before,
.viz-icon-column-group:hover:before,
.viz-icon-bubble:hover:before,
.viz-icon-scatter-group:hover:before,
.viz-icon-bubble-group:hover:before,
.viz-icon-boxplot:hover:before,
.viz-icon-boxplot-width:hover:before,
.viz-icon-area:hover:before,
.viz-icon-area-stack:hover:before,
.viz-icon-area-stack-100:hover:before,
.viz-icon-area-stream:hover:before,
.viz-icon-pareto:hover:before,
.viz-icon-barline:hover:before,
.viz-icon-open-high-low-close:hover:before,
.viz-icon-candlestick:hover:before,
.viz-icon-bullet:hover:before,
.viz-icon-kagi:hover:before,
.viz-icon-dot:hover:before,
.viz-icon-scatter-group:hover:before {
  color: #333;
}

.viz-icon-donut:before {content: "\e90f";color: #689CBE;}
.viz-icon-donut:hover:before {color: #2E709C;}
.viz-icon-donut:after {content: "\e911";color: #FFB342;}
.viz-icon-donut:hover:after {color: #FF9800;}

.viz-icon-pie:before {content: "\e912";color: #689CBE;}
.viz-icon-pie:hover:before {color: #2E709C;}
.viz-icon-pie:after {content: "\e910";color: #FFB342;}
.viz-icon-pie:hover:after {color: #FF9800;}

.viz-icon-strip-bar:before {content: "\e90e";color: #5E5E5E;}

.viz-icon-table:before {content: "\e90c";color: #5E5E5E;}
.viz-icon-table:after {content: "\e90d";color: #689CBE;}

.viz-icon-crosstable:before {content: "\e90a";color: #5E5E5E;}
.viz-icon-crosstable:after {content: "\e90b";color: #689CBE;}

.viz-icon-bar:after {content: "\e63a";color: #689CBE;}
.viz-icon-bar:hover:after {color: #2E709C;}

.viz-icon-bar-stack > span:after {content: "\e63a";color: #689CBE;}
.viz-icon-bar-stack:hover > span:after {color: #2E709C;}
.viz-icon-bar-stack:after {content: "\e639";color: #FFB342;}
.viz-icon-bar-stack:hover:after {color: #FF9800;}

.viz-icon-bar-group > span:after {content: "\e638";color: #689CBE;}
.viz-icon-bar-group:hover >span:after {color: #2E709C;}
.viz-icon-bar-group:after {content: "\e637";color: #FFB342;}
.viz-icon-bar-group:hover:after {color: #FF9800;}

.viz-icon-column:after {content: "\e628";color: #689CBE;}
.viz-icon-column:hover:after {color: #2E709C;}

.viz-icon-column-stack > span:after {content: "\e628";color: #689CBE;}
.viz-icon-column-stack:hover >span:after {color: #2E709C;}
.viz-icon-column-stack:after {content: "\e627";color: #FFB342;}
.viz-icon-column-stack:hover:after {color: #FF9800;}

.viz-icon-column-group > span:after {content: "\e626";color: #689CBE;}
.viz-icon-column-group:hover >span:after {color: #2E709C;}
.viz-icon-column-group:after {content: "\e625";color: #FFB342;}
.viz-icon-column-group:hover:after {color: #FF9800;}

.viz-icon-line:after {content: "\e619";color: #689CBE;}
.viz-icon-line:hover:after {color: #2E709C;}

.viz-icon-line-group > span:after {content: "\e616";color: #689CBE;}
.viz-icon-line-group:hover >span:after {color: #2E709C;}
.viz-icon-line-group:after {content: "\e615";color: #FFB342;}
.viz-icon-line-group:hover:after {color: #FF9800;}

.viz-icon-line-color > span:after {content: "\e618";color: #689CBE;}
.viz-icon-line-color:hover >span:after {color: #2E709C;}
.viz-icon-line-color:after {content: "\e617";color: #FFB342;}
.viz-icon-line-color:hover:after {color: #FF9800;}

.viz-icon-kagi > span:after {content: "\e61b";color: #689CBE;}
.viz-icon-kagi:hover >span:after {color: #2E709C;}
.viz-icon-kagi:after {content: "\e61a";color: #FFB342;}
.viz-icon-kagi:hover:after {color: #FF9800;}

.viz-icon-area:after {content: "\e649";color: #689CBE;}
.viz-icon-area:hover:after {content: "\e649";color: #2E709C;}

.viz-icon-area-stack > span:after {content: "\e645";color: #689CBE;}
.viz-icon-area-stack:hover >span:after {color: #2E709C;}
.viz-icon-area-stack:after {content: "\e648";color: #FFB342;}
.viz-icon-area-stack:hover:after {color: #FF9800;}

.viz-icon-area-stack-100 > span:after {content: "\e646";color: #689CBE;}
.viz-icon-area-stack-100:hover >span:after {color: #2E709C;}
.viz-icon-area-stack-100:after {content: "\e647";color: #FFB342;}
.viz-icon-area-stack-100:hover:after {color: #FF9800;}

.viz-icon-streamgraph:before {content: "\e604";color: #FFB342;}
.viz-icon-streamgraph:hover:before {color: #FF9800;}
.viz-icon-streamgraph > span:after {content: "\e603";color: #689CBE;}
.viz-icon-streamgraph:hover >span:after {color: #2E709C;}
.viz-icon-streamgraph:after {content: "\e602";color: #FFB342;}
.viz-icon-streamgraph:hover:after {color: #FF9800;}

.viz-icon-treemap:before {content: "\e63b";color: #333;}
.viz-icon-treemap:hover:before {color: #000;}
.viz-icon-treemap > span:after {content: "\e601";color: #689CBE;}
.viz-icon-treemap:hover >span:after {color: #2E709C;}
.viz-icon-treemap:after {content: "\e600";color: #FFB342;}
.viz-icon-treemap:hover:after {color: #FF9800;}

.viz-icon-heatmap:before {content: "\e61c";color: #6E9FBD;}
.viz-icon-heatmap:hover:before {color: #4C7E9B;}
.viz-icon-heatmap > span:after {content: "\e61d";color: #4C7E9B;}
.viz-icon-heatmap:hover >span:after {color: #689CBE;}
.viz-icon-heatmap:after {content: "\e61e";color: #689CBE;}
.viz-icon-heatmap:hover:after {color: #2E709C;}

.viz-icon-barline > span:after {content: "\e636";color: #689CBE;}
.viz-icon-barline:hover >span:after {color: #2E709C;}
.viz-icon-barline:after {content: "\e635";color: #FFB342;}
.viz-icon-barline:hover:after {color: #FF9800;}

.viz-icon-pareto > span:after {content: "\e610";color: #689CBE;}
.viz-icon-pareto:hover >span:after {color: #2E709C;}
.viz-icon-pareto:after {content: "\e60f";color: #FFB342;}
.viz-icon-pareto:hover:after {color: #FF9800;}

.viz-icon-bullet > span:after {content: "\e62c";color: #689CBE;}
.viz-icon-bullet:hover >span:after {color: #2E709C;}
.viz-icon-bullet:after {content: "\e62d";color: #FFB342;}
.viz-icon-bullet:hover:after {color: #FF9800;}

.viz-icon-candlestick > span:before {content: "\e611";color: #333;}
.viz-icon-candlestick > span:hover:before {color: #000;}
.viz-icon-candlestick > span:after {content: "\e62a";color: #689CBE;}
.viz-icon-candlestick:hover >span:after {color: #2E709C;}
.viz-icon-candlestick:after {content: "\e62b";color: #FFB342;}
.viz-icon-candlestick:hover:after {color: #FF9800;}

.viz-icon-open-high-low-close:after {content: "\e611";color: #5E5E5E;}
.viz-icon-open-high-low-close:hover:after {color: #333;}

.viz-icon-boxplot:after {content: "\e632";color: #5E5E5E;}
.viz-icon-boxplot:hover:after {color: #333;}

.viz-icon-boxplot-width:after {content: "\e631";color: #5E5E5E;}
.viz-icon-boxplot-width:hover:after {color: #333;}

.viz-icon-dot:after {content: "\e622";color: #689CBE;}
.viz-icon-dot:hover:after {color: #2E709C;}

.viz-icon-scatter:after {content: "\e60a";color: #689CBE;}
.viz-icon-scatter:hover:after {color: #2E709C;}

.viz-icon-bullet > span:after {content: "\e62c";color: #689CBE;}
.viz-icon-bullet:hover >span:after {color: #2E709C;}
.viz-icon-bullet:after {content: "\e62d";color: #FFB342;}
.viz-icon-bullet:hover:after {color: #FF9800;}

.viz-icon-scatter-group > span:after {content: "\e608";color: #689CBE;}
.viz-icon-scatter-group:hover >span:after {color: #2E709C;}
.viz-icon-scatter-group:after {content: "\e607";color: #FFB342;}
.viz-icon-scatter-group:hover:after {color: #FF9800;}

.viz-icon-bubble:after {content: "\e630";color: #689CBE;}
.viz-icon-bubble:hover:after {color: #2E709C;}

.viz-icon-bubble-group > span:after {content: "\e62f";color: #689CBE;}
.viz-icon-bubble-group:hover >span:after {color: #2E709C;}
.viz-icon-bubble-group:after {content: "\e62e";color: #FFB342;}
.viz-icon-bubble-group:hover:after {color: #FF9800;}

.viz-icon-multiples-bar > span:before {content: "\e63f";color: #333;}
.viz-icon-multiples-bar > span:hover:before {color: #000;}
.viz-icon-multiples-bar > span:after {content: "\e633";color: #689CBE;}
.viz-icon-multiples-bar:hover >span:after {color: #2E709C;}
.viz-icon-multiples-bar:after {content: "\e634";color: #FFB342;}
.viz-icon-multiples-bar:hover:after {color: #FF9800;}

.viz-icon-multiples-column > span:before {content: "\e63f";color: #333;}
.viz-icon-multiples-column > span:hover:before {color: #000;}
.viz-icon-multiples-column > span:after {content: "\e623";color: #689CBE;}
.viz-icon-multiples-column:hover >span:after {color: #2E709C;}
.viz-icon-multiples-column:after {content: "\e624";color: #FFB342;}
.viz-icon-multiples-column:hover:after {color: #FF9800;}

.viz-icon-multiples-line > span:before {content: "\e63f";color: #333;}
.viz-icon-multiples-line > span:hover:before {color: #000;}
.viz-icon-multiples-line > span:after {content: "\e613";color: #689CBE;}
.viz-icon-multiples-line:hover >span:after {color: #2E709C;}
.viz-icon-multiples-line:after {content: "\e614";color: #FFB342;}
.viz-icon-multiples-line:hover:after {color: #FF9800;}

.viz-icon-multiples-scatter > span:before {content: "\e63f";color: #333;}
.viz-icon-multiples-scatter > span:hover:before {color: #000;}
.viz-icon-multiples-scatter > span:after {content: "\e605";color: #689CBE;}
.viz-icon-multiples-scatter:hover >span:after {color: #2E709C;}
.viz-icon-multiples-scatter:after {content: "\e606";color: #FFB342;}
.viz-icon-multiples-scatter:hover:after {color: #FF9800;}

.viz-icon-radar > span:before {content: "\e63e";color: #333;}
.viz-icon-radar > span:hover:before {color: #000;}
.viz-icon-radar > span:after {content: "\e60b";color: #689CBE;}
.viz-icon-radar:hover >span:after {color: #2E709C;}
.viz-icon-radar:after {content: "\e60c";color: #FFB342;}
.viz-icon-radar:hover:after {color: #FF9800;}

.viz-icon-pyramid > span:before {content: "\e642";color: #333;}
.viz-icon-pyramid > span:hover:before {color: #000;}
.viz-icon-pyramid > span:after {content: "\e60d";color: #689CBE;}
.viz-icon-pyramid:hover >span:after {color: #2E709C;}
.viz-icon-pyramid:after {content: "\e60e";color: #FFB342;}
.viz-icon-pyramid:hover:after {color: #FF9800;}

.viz-icon-choropleth:before {content: "\e612";color: #8CB6D2;}
.viz-icon-choropleth:after {content: "\e629";color: #FFB342;}
.viz-icon-choropleth:hover:after {color: #FF9800;}

.viz-icon-symbolmap:before {content: "\e612";color: #B9D0DF;}
.viz-icon-symbolmap:after {content: "\e62e";color: #FFB342;}
.viz-icon-symbolmap:hover:after {color: #FF9800}

.viz-icon-markermap:before {content: "\e612";color: #B9D0DF;}
.viz-icon-markermap:after {content: "\e669";color: #FFB342;}
.viz-icon-markermap:hover:after {color: #FF9800}

.viz-icon-heat-map:before {content: "\e612";color: #B9D0DF;}
.viz-icon-heat-map:after {content: "\e668";color: #FFB342;}
.viz-icon-heat-map:hover:after {color: #FF9800}

.viz-icon-routemap:before {content: "\e612";color: #B9D0DF;}
.viz-icon-routemap:after {content: "\e66b";color: #FFB342;}
.viz-icon-routemap:hover:after {color: #FF9800}

.viz-icon-hexbinmap:before {content: "\e612";color: #B9D0DF;}
.viz-icon-hexbinmap:after {content: "\e66a";color: #FFB342;}
.viz-icon-hexbinmap:hover:after {color: #FF9800}

.viz-icon-dotmap:before {content: "\e612";color: #B9D0DF;}
.viz-icon-dotmap:after {content: "\e60a";color: #FFB342;}
.viz-icon-dotmap:hover:after {color: #FF9800;}

.viz-icon-spacer:before {content: "\e64f";color: #E5E5E5;}

.viz-icon-text:before {content: "\e64f";color: #E5E5E5;}
.viz-icon-text:hover:before {color: #999;}
.viz-icon-text > span:after {content: "\e609";color: #689CBE;}
.viz-icon-text:hover >span:after {color: #2E709C;}
.viz-icon-text:after {content: "\e64a";color: #FFB342;}
.viz-icon-text:hover:after {color: #FF9800;}

.viz-icon-number:before {content: "\e64f";color: #E5E5E5;}
.viz-icon-number:hover:before {color: #999;}
.viz-icon-number:after {content: "\e664";color: #689CBE;}
.viz-icon-number:hover:after {color: #2E709C;}

.viz-icon-html:before {content: "\e64f";color: #E5E5E5;}
.viz-icon-html:hover:before {color: #999;}
.viz-icon-html > span:after {content: "\e64b";color: #689CBE;}
.viz-icon-html:hover >span:after {color: #2E709C;}
.viz-icon-html:after {content: "\e64c";color: #FFB342;}
.viz-icon-html:hover:after {color: #FF9800;}

.viz-icon-video:before {content: "\e64f";color: #E5E5E5;}
.viz-icon-video:hover:before {color: #999;}
.viz-icon-video:after {content: "\e662";color: #689CBE;}
.viz-icon-video:hover:after {color: #2E709C;}

.viz-icon-image:before {content: "\e64f";color: #E5E5E5;}
.viz-icon-image:hover:before {color: #999;}
.viz-icon-image > span:after {content: "\e651";color: #689CBE;}
.viz-icon-image:hover >span:after {color: #2E709C;}
.viz-icon-image:after {content: "\e650";color: #FFB342;}
.viz-icon-image:hover:after {color: #FF9800;}

.viz-icon-calendar:before {content: "\e64d";color: #689CBE;}
.viz-icon-calendar:hover:before {color: #2E709C;}
.viz-icon-calendar:after {content: "\e64e";color: #FFB342;}
.viz-icon-calendar:hover:after {color: #FF9800;}

.viz-icon-slider:before {content: "\e654";color: #555;}
.viz-icon-slider:hover:before {color: #333;}
.viz-icon-slider > span:after {content: "\e653";color: #689CBE;}
.viz-icon-slider:hover >span:after {color: #2E709C;}
.viz-icon-slider:after {content: "\e652";color: #FFB342;}
.viz-icon-slider:hover:after {color: #FF9800;}

.viz-icon-search:before {content: "\e656";color: #689CBE;}
.viz-icon-search:hover:before {color: #2E709C;}
.viz-icon-search:after {content: "\e655";color: #FFB342;}
.viz-icon-search:hover:after {color: #FF9800;}

.viz-icon-select:before {content: "\e65c";color: #888;}
.viz-icon-select:hover:before {color: #333;}
.viz-icon-select > span:after {content: "\e65b";color: #FFB342;}
.viz-icon-select:hover > span:after {color: #FF9800;}
.viz-icon-select:after {content: "\e65a";color: #689CBE;}
.viz-icon-select:hover:after {color: #2E709C;}

.viz-icon-slice:before {content: "\e659";color: #888;}
.viz-icon-slice:hover:before {color: #333;}
.viz-icon-slice > span:after {content: "\e657";color: #FFB342;}
.viz-icon-slice:hover >span:after {color: #FF9800;}
.viz-icon-slice:after {content: "\e658";color: #689CBE;}
.viz-icon-slice:hover:after {color: #2E709C;}

.viz-icon-dataset:before {content: "\e665";color: #aaa;}
.viz-icon-dataset:hover:before {color: #555;}

.viz-icon-dashboard:before {content: "\e667";color: #aaa;}
.viz-icon-dashboard:hover:before {color: #555;}

.viz-icon-datasets:before {content: "\e661";color: #aaa;}
.viz-icon-datasets:hover:before {color: #555;}
.viz-icon-datasets > span:after {content: "\e660";color: #689CBE;}
.viz-icon-datasets:hover > span:after {color: #2E709C;}
.viz-icon-datasets:after {content: "\e65f";color: #FFB342;}
.viz-icon-datasets:hover:after {color: #FF9800;}
