.container {
    margin: 5px !important;
    padding: 0px;
}

.container .heatMapSection {
    padding: 0px;
}

.container .heatMapSection .category-labels {
    font-size: 11px;
    font-family: Raleway, "Helvetica Neue", sans-serif;
}

.container .heatMapSection .measure-labels {
    font-size: 11px;
    font-family: Raleway, "Helvetica Neue", sans-serif;
}

.container .heatMapSection .data-rectangle:hover {
    stroke: black;
    stroke-width: 1.5;
}

.container .heatMapSection .legend-text {
    font-size: 9px;
    font-weight: 600;
}

.container .modeForm {
    margin-top: 120px;
}

.tooltip {
    position: absolute;
    text-align: center;
    padding: 5px;
    font-size: 12px;
    font-family: Raleway, "Helvetica Neue", sans-serif;
    color: black;
    background-color: white;
    border: 1.5px #6e6e6e solid;
    pointer-events: none;
    width: 50px;
}