<div class="container">
    <div class="row">
        <div class="col-md-10 heatMapSection">
        </div>

        <div class="col-md-2">
            <form class="modeForm">
                <div class="form-group">
                    <label>Mode:</label>
                    <select class="form-control" ng-options="option for option in vizModes track by option"
                            ng-model="selectedVizMode"
                            ng-change="selectedVizModeChanged()"
                            selected="selected">
                    </select>
                </div>
            </form>

            <form class="colorForm">
                <div class="form-group">
                    <label>Color scale:</label>
                    <select class="form-control" ng-options="option.name for option in colorOptions"
                            ng-model="selectedColor"
                            ng-change="selectedColorChanged()">
                    </select>
                </div>
            </form>

            <!--<form class="valueForm">
                <div class="form-group">
                    <label>Show values:</label>
                    <select class="form-control" ng-options="option for option in showValueOptions"
                            ng-model="selectedShowValueOption"
                            ng-change="selectedValueOptionChanged()">
                    </select>
                </div>
            </form>-->
        </div>
    </div>
</div>